@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #8a2be2,
    #7fff00,
    #00ffff,
    #ff69b4,
    #ff4500
  );
  font-family: "Cinzel", sans-serif;
  color: black;
}

input {
  font-family: "Cinzel", sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px;
  height: 43px;
}

button {
  font-family: "Cinzel", sans-serif;
  font-size: 15px;
  border-radius: -50%;
  padding: 10px;
  cursor: pointer;
}

button input :active {
  outline: none;
}

.todo-value {
  position: relative;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: "Cinzel", sans-serif;
  color: black;
  font-size: 15px;
  padding: 9px;
  height: 33%;
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-delete i {
  margin-left: 5px;
  cursor: pointer;
}

.todo-delete i:hover {
  color: red;
}

